@font-face {
  font-family: "Multi";
  src: ulr("./Muli-Light.ttf") format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: "Multi";
  src: ulr("./Muli-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: "Multi";
  src: ulr("./Muli-Bold.ttf") format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: "Multi";
  src: ulr("./Muli-ExtraBold.ttf") format('truetype');
  font-weight: 800;
}
