@import '../../assets/styles/colors.scss';

.button {
  border-radius: 25px;
  height: 51px;
  font-size: 14px;
  margin-right: 17px;
  padding-left: 30px;
  padding-right: 50px;
  box-shadow: 0px 11px 24px rgba(0,0,0,0.12);
  color: black;
  border: none;
  transition: 0.3s all;
  background-color: white;

  &--transparent {
    box-shadow: 0px 11px 24px rgba(0,0,0,0.06);
    border: 2px solid #f0f3f5;
    color: white;
    background: transparent;
  }

  &:focus {
    outline-style: none;
  }

  &:hover {
    cursor: pointer;
  }
}
