@import "../../assets/fonts/Muli/muli-fonts.scss";
@import "../../assets/styles/colors.scss";

.central-view {
  padding: 215px 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  &__first-section {
    display: flex;
  }

  &__second-section {
    display: flex;
    position: relative;
  }

  &__third-section {
    display: flex;
  }

  &__title {
    margin: 0;
    height: 72px;
    font-size: 36px;
    line-height: 60px;
    font-weight: 800;
    color: $black;

    &--second {
      margin-left: 88px;
    }
  }

  &__link {
    color: $blue;

    &:hover {
      cursor: pointer;
    }
  }

  &__description {
    margin-right: 88px;
    line-height: 32px;
    font-size: 18px;
    width: 600px;
    color: $dark-gray;

    &--second {
      margin-right: 0px;
      margin-left: 88px;
    }
  }

  .requirement-row {
    display: flex;
    margin: 0;
  }

  .requirement-text {
    margin-bottom: 10px;
  }

  .arrow {
    margin-bottom: 10px;
    margin-right: 20px;
    color: $blue;
  }

  .checkbox {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    &__message {
      margin-left: 10px;
      width: 528px;
      font-size: 10px;
    }
  }

  .rectangle-text {
    position: absolute;
    transform: rotate(-45deg);
    font-size: 22px;
    font-weight: 800;
    top: 5px;
    left: 5px;
    color: white;
  }

  &__image {
    width: 492px;
    height: 514px;
    box-shadow: 0px 11px 35px rgba(95, 95, 95, 0.22);
    object-position: 0 70%;
    object-fit: none;

    &--video {
      object-position: 65% 35%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__blue-rectangle {
    position: absolute;
    top: -60px;
    left: -60px;
    width: 205px;
    height: 205px;
  }
}
