@import "../../assets/fonts/Muli/muli-fonts.scss";
@import "../../assets/styles/colors.scss";

.central-view {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-top: 0px;
    margin-bottom: 20px;
    height: 72px;
    font-size: 36px;
    line-height: 60px;
    font-weight: 800;
    color: $black;

    &--second {
      margin-top: -15px;
      margin-left: 88px;

      @media screen and (max-width: 1031px) {
        & {
          margin-left: 0;
        }
      }
    }
  }

  .description {
    margin-right: 88px;
    line-height: 32px;
    font-size: 18px;
    width: 600px;
    color: $dark-gray;

    &--second {
      margin-right: 0px;
      margin-left: 88px;
    }
  }

  &__image {
    width: 492px;
    height: 514px;
    box-shadow: 0px 11px 35px rgba(95, 95, 95, 0.22);
    object-position: 0 70%;
    object-fit: none;

    &--video {
      object-position: 65% 35%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 1175px) {
    .first-section,
    .second-section,
    .third-section {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .description {
      margin: 0;
    }
  }
}
