@import "../../../assets/styles/colors.scss";

.message-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $light-gray;
  height: 661px;
}

.contact-question {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: $dark-gray;
}

.form-proposal-text {
  font-size: 15px;
  color: $navy-blue;
}

.form-row {
  width: 580px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__button {
    display: flex;
    justify-content: center;
  }
}

.checkbox {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;

  &__message {
    margin-left: 10px;
    width: 528px;
    font-size: 10px;
  }
}
