@import "../../../../assets/styles/colors.scss";

.form-control {
  display: flex;
  flex-direction: column;

  &__textarea {
    box-sizing: border-box;
    width: 580px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 19px 10px;
    transition: 0.3s all;
    resize: none;
    font-size: 15px;
    font-weight: 400;

    &:focus, &:hover {
      box-shadow: 1px 3px 6px -5px $blue;
    }

    &--error {
      border: 1px $red solid;
      color: $red;
    }
  }

  .error-message {
    color: $red;
    font-size: 12px;
    margin-top: -7px;
    padding-left: 5px;
  }
}
