@import '../../assets/styles/colors.scss';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $navy-blue;
  color: white;
  width: 100vw;
  height: 455px;
  padding: 90px 200px;
  box-sizing: border-box;

  &__address {
    margin-right: 90px;
  }

  &__address-text {
    font-size: 15px;
    line-height: 13px;
    margin-bottom: 40px;
    margin-top: 0;
  }

  &__links-and-owners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__links {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    justify-content: space-between;
  }
}

.link {
  text-decoration: none;
  color: white;
}

.links-column {
  display: flex;
  flex-direction: column;
  line-height: 12px;
}

.map-container div:first-child {
  position: relative !important;
  height: 200px !important;
  width: 200px !important;
}

